1. explain the key features of Python that make it a popular choice for programming
 
ans .Python is a popular programming language due to its easy-to-learn, readable syntax, making it accessible for beginners and efficient for experienced developers. As an interpreted language, it supports rapid development and debugging, while its extensive standard library simplifies many common tasks. It supports a variety of programming paradigms, including imperative, functional, and object-oriented programming.All these features of Python make it the first choice of developers in the current scenario.It is widely used for various purposes, such as web development, data analysis, machine learning, and many others.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program
 
   ans. In Python, predefined keywords are reserved words that have special meanings and cannot be used as identifiers (such as variable names or function names).They control the flow of execution, define data types, and manage various programming constructs.Keywords are case-sensitive and cannot be redefined or overridden within a Python program.

In [2]:
# here are the all the predefined keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
# examples of some keywords 
marks = 65 
if marks > 60:
    print("Excellent, you have done well")    
else :
    print("You can do better")

Excellent, you have done well

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
n = 1
while n <= 5:
    print(n)
    n +=1

1
2
3
4
5

In [6]:
is_greater = 10 > 5
print(is_greater)

True

In [7]:
is_greater = 5 > 10
print(is_greater)

False

In [1]:
for i in range(10):
    if i == 5:
        break                
    print(i)

0
1
2
3
4

In [15]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [17]:
both_true = (5 > 2) and (9 > 1)  
print(both_true)

True

In [18]:
one_true = (5 < 2) or (9 > 1)
print(one_true)

True

In [19]:
item_in_list = 3 in [1, 2, 3, 4, 5] 
print(item_in_list)

True

 3. Compare and contrast mutable and immutable objects in Python with examples

ans. I) Mutable objects:
        Mutable objects can be changed after they are created. Modifications to a mutable object will be reflected
        in all variables that reference that object.
        Examples of Mutable Objects: lists , dictionaries ,sets

     II) Immutable Objects:
         Immutable objects cannot be changed once they are created. If you want to modify an immutable 
         object, you need to create a new object with the updated value.
         Examples of Immutable Objects: strings , tuples , frozen sets

In [29]:
# examples of mutable objects
list1 = [1, 2, 3]
list1.append(4)
print(list1)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [28]:
dict1 = {'a': 1, 'b': 2}
dict2 = dict1
dict1['c'] = 3

print(dict1)  
print(dict2)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [27]:
cont = [ 1,25,34,76, "ram",22.4, 5j+7]
cont[4] = "chiki"
print(cont)

[1, 25, 34, 76, 'chiki', 22.4, (7+5j)]

In [31]:
# examples of immutable objects
a = "Hello"
b = a + 7
print(a)
print(b)   # it will throw an error

TypeError: can only concatenate str (not "int") to str

In [32]:
s = "susrita"
s[1] = a
print(s)    # it does not support item assignment unlike lists

TypeError: 'str' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.

 ans. types of different operators are : arithmatic operator, comparsion operator, logical operator, bitwise operator, assignment             operator, membership operator and identity operators.

In [39]:
# arithmatic operators
a = 5
b = 3
print(a + b)  
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print( a % b)
print( a ** b)

8
2
15
1.6666666666666667
1
2
125

In [41]:
#comparsion operators
a = 3
b = 7
print(a == b)  
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [47]:
#logical operators
x = True
y = False
print(x and y)  
print(x or y)
print(not x)

False
True
False

In [51]:
# bitwise operators
a = 5  
b = 3 
print(bin(5))    #0101 in binary
print(bin(3))     # 0011 in binary
print(a & b)     # and operator
print(a|b)        #or operator
print(a ^ b)    # xor operator
print(~a)      #  not operator
print(a << 1)  # left shift
print(a >> 1)  # right shift

0b101
0b11
1
7
6
-6
10
2

In [54]:
# membership operator
a = " hello"
print( "o" in a )    # in operator
print ( "p" in a)    
print("q" not in a)   # not in operator
print( "e" not in a)

True
False
True
False

In [55]:
# identity operator
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)   # is operator
print(x is y) 
print(x is not y)  # is not operator

True
False
True

5. explain the concept of type casting in Python with examples

ans. conversion of one data type to another is called as type casting .
     There are two types of type casting implicit and explicit type conversion.
     I) implicit type conversion - where python understands the data type
     II) explicit type conversion - where the user converts one data type to another

In [56]:
# implict type conversion
name = "yuki"
age = 34
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [64]:
# explicit type conversion
marks = 56
print(float(marks))
print(bool(marks))
print(str(marks))

56.0
True
56

6. How do conditional statements work in Python? Illustrate with examples

ans. Conditons help you to code decisions based on some predictions .Conditional statment allows computer to excute  a certain      condition only if it is true .Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
Python supports conditional statements such as if, elif (else if), and else to control the flow of execution.

In [71]:
# if conditions
marks = 90
if marks >= 90:
    print("you will get a mobile phone")

print("thank you")

you will get a mobile phone
thank you

In [70]:
marks = 89
if marks > 90:
    print(" you can go to  vacation")

print("you have to attend remedial classes")

you have to attend remedial classes

In [72]:
# else statements
marks = 87 
if marks >= 90:
    print("you will get a trip to goa")

else:
    print("stay at home and study")

stay at home and study

In [75]:
age = 16
if age >= 18:
    print("you are eligible to vote")

else:
    print("you are not eligible to vote")

you are not eligible to vote

In [77]:
# elif (else if statement)
marks = 88
if marks >= 90:
    print("Grade A")

elif marks >=80 and marks < 90:
    print("Grade B")

elif marks >= 70 and marks < 80:
    print("Grade C")

else:
    print("Grade D")

Grade B

In [81]:
# nested if statement
marks = 66
if marks >= 90 :
    print("you will get a new phone ")
    if marks >= 80:
        print("you can go for a trip")

else :
    print('no phone for a month')

no phone for a month

 7)  Describe the different types of loops in Python and their use cases with examples.

ans. There are two types of loops : while loop and for loop.
     I) while loop - repeatedly executes a block of code untill the condition is met.it executes till the given condition is true.
        *Use Cases for while Loop:Executing a block of code until a condition is met,Running an infinite loop 
        (with a break condition inside),Implementing loops where the end condition depends on dynamic changes within the loop
     II) for loop - it iterates over a sequence of elements . for loop is a range that repeats something in a given range.
         * Use Cases for for Loop:Iterating over a collection (list, tuple, set, dictionary, string),Executing a block of 
     code a specific number of times using range(),Iterating over elements in a custom sequence or iterable object

In [86]:
#while loop
n = 1
while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

In [88]:
m = 0
while m <= 5:
    print(m)
    m += 2

0
2
4

In [90]:
a = 7
n = 1
while n <= 10:
    print(a,"X",n,"=",a*n)
    n += 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [91]:
# for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [93]:
for i in range(1,6):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [94]:
n = 6
for i in range(1,11):
    print(n,"X",i,"=",n*i)

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [96]:
for i in range(1,101):
    if i % 8 == 0 and i % 12 == 0:
        print(i)

24
48
72
96

In [11]:
for i in range(1,11):
    if i == 5 or i == 7:
        break
    else:
        print(i)

1
2
3
4

In [10]:
for i in range(1,11):
    if i == 5 or i ==6:
        continue
    else:
        print(i)

1
2
3
4
7
8
9
10